$bevan-ff: 'Bevan', cursive;
$opensans-ff: 'Open Sans', sans-serif;
$primary: #14213d;
$accent: #fca311;
$lightgray: #e5e5e5;
$black: #000;
$bounceSpeed: 1.1s;

/**
* ELEMENT STYLING
*/

h1, h2, h3 {
    font-family: $bevan-ff;
    letter-spacing: 1px;
    word-spacing: 5px;    
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
}

/**
* ROOT STYLING
*/

#root {
    height: 100vh;
}

/**
* HOMECONTAINER STYLING
*/

.main-container {
    text-align: center;
  }

.main-content {
    background-color: #282c34d4;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    opacity: 0.9;
    #header-appeal {
        font-weight: 400;
        letter-spacing: 11px;
        margin-bottom: 0;
        font-size: 2em;
        text-transform: uppercase;
    }
    #text-appeal {
        margin-top: 0;
        margin-bottom: 0;
    }
    #arrow-symbol {
        display: inline-block;
        color: $accent;
        font-size: 2.5rem;
        font-weight: 600;
        animation: arrowBounce $bounceSpeed ease-in-out infinite;  /* Chrome, Firefox 16+, IE 10+, Opera */    
        -webkit-animation: arrowBounce $bounceSpeed ease-in-out infinite; /* Chrome, Opera 15+, Safari 5+ */
        -moz-animation: arrowBounce $bounceSpeed ease-in-out infinite; /* Fx 5+ */
        -o-animation: arrowBounce $bounceSpeed ease-in-out infinite; /* Opera 12+ */            
    }
}


@keyframes arrowBounce {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0px);
    }
}

/**
    @-webkit-keyframes arrowBounce
    @-moz-keyframes arrowBounce
    @-o-keyframes arrowBounce 
*/

