$bevan-ff: 'Bevan', cursive;
$opensans-ff: 'Open Sans', sans-serif;
$seafoam: #61dafb;

body {
    /*overflow: hidden;*/
}

h1, h2, h3 {
    font-family: $bevan-ff;
    letter-spacing: 1px;
    word-spacing: 5px;    
}

ul {
    list-style-type: none;
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
}

#root {
    height: 100vh;
}

.button {
    font-family: $opensans-ff;
}

.donation-link {
    color: $seafoam;
    font-weight: bold;
}

.main-container {
    text-align: center;
  }

.main-header {
    background-color: #282c34d4;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    opacity: 0.9;
    h1 {
        font-weight: 400;
        letter-spacing: 3px;
    }
}


@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
  

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}